button.btn.btn-primary {
    padding: 14px !important;
}

/* register scroll form   */
.register_wrapper .register_right {
    height: 100%;
    max-height: 580px;
    overflow-y: auto;
}




.register_wrapper .register_form .form-control {
    border-radius: 10px;
    padding: 8px 10px 8px 10px;
    border: 1px solid #EEEEEE;
    background-color: var(--white);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #4A4A4A;
}
.register_wrapper .nav-item .nav-link {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #000;
}




/* otp screen */

.otp_wrapper .login-wrapper {
    /* max-width: 1000px; */
    margin: 30px;
    /* background: #fff; */
    border-radius: 20px;
    overflow: hidden;
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.05); */
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}



/* slider */
.swiper-wrapper {
    display: flex;
}

.swiper-wrapper .swiper-slide {margin-right: 5px;}

/* mobile view */
/* .custom-shadow {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
}

@media (max-width: 576px) {
  .custom-shadow {
    box-shadow: none !important;
  }
} */

.custom-shadow {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
}


  .modal-box-custom {
    border-radius: 0 !important;
    height: auto;
  }



  .subscription-card {
  border: 1px solid #dee2e6;
  transition: all 0.2s ease-in-out;
}

.subscription-card.selected {
  border: 2px solid #ff6600;
}

.custom-check {
  width: 20px;
  height: 20px;
  border: 2px solid #999;
  border-radius: 50%;
  position: relative;
}

.custom-check.checked {
  border-color: #ff6600;
  background-color: #ff6600;
}

.custom-check.checked::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 5px;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.custom-sidebar {
  width: 300px !important;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1050;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  animation: slideIn 0.3s ease forwards;
}


@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

.sidebar-item:hover {
  background-color: #f1f1f1;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
